<label for="t" class="col">What correction are you sharing?</label>
<div class='form-group col'>
  <select required id='label' name='label' class='form-control'>
  <option disabled='disabled' selected='selected' value=''>Select type of correction</option>
  <optgroup label='Technical Correction'>
    <option value='TYPO'>Typo</option>
    <option value='SYNTAX'>Grammar</option>
    <option value='ENHANCEMENT'>Suggestion</option>
  </optgroup>
  <optgroup label='Readability Correction'>
    <option value='IMPLAUSIBILITY'>Hard to Believe</option>
    <option value='CONFUSION'>Confusing</option>
    <option value='DULLNESS'>Boring</option>
  </optgroup>
</select>
</div>
