<!-- Credit Section -->
<div class='form-group'>
  <h4>Can I contact you with questions or credit your find?</h4>
  <div class='form-group row'>
      <label class='col' for='icon_prefix'>Name (optional)</label>
      <div class="col">
        <input class='form-control' type="text" name="name" id="fix_name">
      </div>
    </div>
  <div class='form-group row'>
      <label class='col' for='icon_prefix'>Email (optional)</label>
      <div class="col">
        <input class='form-control' type="email" name="email" id="fix_email">
      </div>
  </div>
</div>
