<!-- Format Options -->
<legend class="col-form-legend col">Book Format</legend>
<div class="col">
  <div class="form-check-inline" id='format'>
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="pbk" id="exampleRadios1" value="off" checked>
      Kindle
    </label>
  </div>
  <div class="form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="pbk" value="on">
      Paperback
    </label>
  </div>
</div>
<!-- End Format Options -->
