<nav class="navbar navbar-expand-md navbar-light bg-light fixed-bottom">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class='container'>
  <a class="navbar-brand" href="/">
    <img src="/assets/logo.svg" width="30" height="30" alt="">
    <img src="/assets/brand.svg" height="30" alt="">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/about/">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/books/">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/essays/">Essays</a>
      </li>
    </ul>
    <button type="button" class="btn btn-success" style="display: none;" data-toggle="modal" data-target="#follow-modal" id='follow'>
      Follow
    </button>
  </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="follow-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Get Updates from Merovex Press</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action='//dausha.us2.list-manage.com/subscribe/post?u=958ff43d5b0de49bac9ad4e21&amp;id=72de3b22a5'
      method='post'
      class='validate form-inline col-lg-8 offset-lg-2'
      target='_blank'
      novalidate>

  <label class="sr-only" for="mcs-EMAIL">Username</label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0 text-center">
    <div class="input-group-addon">
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </div>
    <input
      type='email'
      value=''
      name='EMAIL'
      id='mce-EMAIL'
      class='form-control'
      placeholder="Email Address">
    </div>
    <button type="submit" class="btn btn-primary">Send Me Updates</button>
  </div>
  <div style='position: absolute; left: -5000px;'>
    <input type='text'
      name='b_958ff43d5b0de49bac9ad4e21_72de3b22a5'
      tabindex='-1'
      value=''>
  </div>
</form>
      </div>
    </div>
  </div>
</div>