body.dark {
  color: #d32F2F;
  color: #FFF;
  background: #333;
  .navbar {
    border-top-color: $base-color;
  }
  h1, h2, h3, h4, .excerpt p::first-letter, blockquote:before {
    color: #D79EFF;
  }
  blockquote, .post-meta {
    color: #AAA;
    cite {
      color: #999;
    }
  }
  a {
    color: #70B5FF;
  }
  pre, .photo img {
    background: #fcf8e3;
    border-color: #fcf8e3;
  }
  .page-content a:hover {
    border-bottom-color: $base-color;
    background-color: #CC85FF;
  }
}
