.navbar {
	background: $white;
	border-top: 8px solid $base-color;
	.nav-link {
		color: rgba(0,0,0,.7); 
		&:hover {
			text-decoration: underline !important;
		}
	}
	svg { fill: $base-color; height: 1.75rem}
}
#header.scrolled {
	background: rgba(205,205,205,0.0) !important;
	a.nav-link {
		color: #999;
		&:hover {text-shadow: 0 0 2em $base-color-lightened; }
	}
	svg { fill: $base-color-lightened !important; }
	border-top-color: $base-color-lightened;
}
#print-header {
	svg { fill: $base-color; height: 3rem}
}
