.social-networks {
	a {
		width: 4em;
	}
	a.facebook {
		background: $facebook !important;
		color: white;
		text-shadow: 1px 1px 8px $black;
		&:hover {
			background: desaturate(lighten($facebook,15%),5%) !important;
			border-color: desaturate(lighten($facebook,15%),5%) !important;
		}
	}
	a.twitter {
		background: $twitter !important;
		color: white;
		text-shadow: 1px 1px 8px $black;
		&:hover {
			background: desaturate(lighten($twitter,15%),5%) !important;
			border-color: desaturate(lighten($twitter,15%),5%) !important;
		}
	}
	a.google-plus {
		background: $google !important;
		color: white;
		text-shadow: 1px 1px 8px $black;
		&:hover {
			background: desaturate(lighten($google,15%),5%) !important;
			border-color: desaturate(lighten($google,15%),5%) !important;
		}
	}
}
a.sc-twitter     {&:hover {color: desaturate(lighten($twitter, 10%),10%) !important; } }
a.sc-facebook    {&:hover {color: desaturate(lighten($facebook,10%),10%) !important; } }
a.sc-google-plus {&:hover {color: desaturate(lighten($google,  10%),10%) !important; } }
