---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "variables";

html, body { height: 100%; }
body {
  background: $bright-white;
  color: $black;
  margin-top: 65px;
  pre, .photo img {box-shadow: 0.1em 0.1em 1em $gray; }
  em { padding: 0 0.1rem; }
}
main {min-height: calc(100% - 152px); height: auto !important; padding-bottom: 0.75in; }
h1, h2, h3, h4 { 
  color: $base-color; 
  small {
    display: block;
    font-size: 40%;
  }
}
.dev {border: 1px solid red; }
.wcag {padding: 1em;}
.wcag.big-text { font-size: 20px; }
.wcag.normal-text { font-size: 14px !important; }

@import "article";
@import "blockquote";
@import "buttons";
@import "footer";
@import "hero";
@import "image-card";
@import "navbar";
@import "social-icons";
