---
# Only the main Sass file needs front matter (the dashes are enough)
---
html, body { height: 100%; }

main {
	min-height: 79.8vh; height: auto !important;
	padding-bottom: 1in;
}

.dev {
	border: 1px solid red;
}

blockquote {
	font-family: serif;
	font-size: 1.2em;
	font-style: italic;
	margin: 5%;
	padding: 0.25em 40px;
	line-height: 1.1;
	position: relative;
	color: #555;
	&:before {
		display: block;
		content: "\201C";
		font-size: 4em;
		position: absolute;
		left: -20px;
		top: -10px;
		color: #d32F2F;
		color: #4B0082;
	}
	cite {
		color: #666;
		font-size: 0.9rem;
		display: block;
		margin-top: 5px;
		&:before {
			content: "\2014 \2009";
		}
	}


}
.footnotes {
	&:before {
		content: "Footnotes";
		margin-top: 0;
		margin-bottom: .5rem;
		margin-bottom: 0.5rem;
		font-family: inherit;
		font-weight: 500;
		line-height: 1.1;
		color: inherit;
		font-size: 2rem;
	}
}
.page-content, article {
	padding-top: 5vh;
	a {
		text-decoration: underline;
		&:hover{
			background-color: #eeadad;
			text-decoration: none;
			border-bottom: 1px solid #d32f2f;
		}
	}
}

h1, h2, h3 {
	color: #811b1b;
	color: #4B0082;
}
.img-card {
	height: 300px;
	background-image: url('http://www.510families.com/sites/default/files/imagecache/480px-wide/iciicecream.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-clip: padding-box;
    h3 {
    	background: rgba(0,0,0,0.7);
    	width: 100%;
    	color: white;
    	position: absolute;
    	bottom: 0;
    	padding: 1rem;
    	margin: 0;
    	min-height: 6rem;
    }
    margin-bottom: 1rem;
}
h1 small {
	display: block;
	font-size: 40%;
}

em { padding: 0 0.1rem; }

@import "article";
@import "buttons";
@import "color";
@import "hero";
@import "navbar";
@import "social-icons";
