---
layout: single
eraru: true
---
	<!-- whispering-taiga-70891.herokuapp.com -->
	<form id="new_fix" action="http://whispering-taiga-70891.herokuapp.com/" accept-charset="UTF-8" method="post">
	  <input name="utf8" type="hidden" value="&#x2713;">
    <input type='hidden' name='book' id='book' value='{{page.title}}'>
    <input type='hidden' name='repo' id='repo' value='{{page.repo}}'>

  		<h3>Where in <em>{{page.title}}</em> are you commenting on?</h3>
		  <div class='form-group row'>{% include korektu/edition.html %}</div>
      <div class='form-group row'>{% include korektu/location.html %}</div>
			<div class='form-group row'>{% include korektu/format-options.html %}</div>
			<div class='form-group row'>{% include korektu/correction-options.html %}</div>
			<div class='form-group row'>{% include korektu/notes.html %}</div>

			<hr><br>
			{% include korektu/credit.html %}
      
			<hr><br>
			{% include korektu/description-editor.html %}
			<hr><br>
  	<div class='form-row'>
  	  <div class='g-recaptcha col' data-sitekey='6LdReyQTAAAAANSlGTjR5bKSmiU4Y3XdCuOmbuvx'></div>
  	  <div class='col'>
  	    <button id='submit' class='btn btn-primary'>
          <i class="fa fa-send"></i>
          Submit
        </button>
  	  </div>
  	</div>
	</form>
