---
layout: single
---
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <section class="post-section">
      <p  class='sr-only'>Category: {{category | titlecase}}</p>{% assign fred = page %}
          {% if page.subtitle %}<p class='subtitle'>{{page.subtitle}}</p>{%endif%}
      <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          {% assign date_format = site.minima.date_format | default: "%e %B %Y" %}
          {{ page.date | date: date_format }}
        </time>
        {% if page.author %}
          <i class="fa fa-user" aria-hidden="true"></i> <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
        {% endif %}
        <i class="fa fa-spinner" aria-hidden="true"></i> {{ content | number_of_words | plus: 180 | divided_by: 180 | append: " min read" }}
        {% if page.category %}{% assign category = page.category | downcase %}
          <i class="fa fa-folder" aria-hidden="true"></i> <a class='valign' href='{{ site.baseurl }}/categories/#{{ category | replace: ' ', '+'}}'>{{site.data['categories'][category]}}</a>
        {%endif%}
        {% unless page.tags==empty %}{% include page_tags.html %}{%endunless%}
      </p>
    </section>
      {% if page.toc == true %}{% include toc.html %}{%endif%}

    <div class='excerpt lead'>
      {{ content | split:'<!-- more -->' | first |markdownify}}
    </div>
    <figure class='photo d-print-none'>
      <img class='rounded' src='{{site.cdn_url}}/images/articles/{{page.photo["image"]}}' alt=""/>
      <div>{{page.photo['caption']}} (Photo: <a href="{{page.photo['url']}}">{{page.photo['creator']}}</a> {{page.photo['license']}}.)</div>
    </figure>
    <div class="post-content" itemprop="articleBody">
      {% if page.legal %}{% include legal-disclaimer.html %}{%endif%}
      {{ content | split:"<!-- more -->" | last |markdownify }}
    </div>
    <aside role='complementary' class='post-footer'>
        {% if page.series %}<hr>{%include article-series.html %}{%endif%}
        <hr class='d-print-none'>
        <div class='alert d-print-none'>
        <h4><i class="fa fa-comment" aria-hidden="true"></i> Want to Share Your Reaction?</h4>
        <p>If you want to discuss this article, find the relevant posting on my <a href='https://www.facebook.com/MerovexPress/'>Facebook</a> page. Thanks!
        </p>
        </div>
        <hr class='d-print-none'>
        <div class='blog-subscribe alert alert-secondary text-black d-print-none'>
          <h4><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like This Post?</h4>
          <p>Sign up for my blog updates and never miss a post.</p>
          {% include mailchimp.html %}
        </div>
    </aside>
  </article>
  {% include social_networks.html %}
