---
layout: default
---
    {% include header.html %}
    <main class="page-content" aria-label="Content" >
        <header>
            <h1 class="post-title" itemprop="name headline">
                <div class="container">
                  <div class='row'>
                    <div class='col col-lg-8 offset-lg-2'>
                    {{ page.title | escape }}
                    </div>
                  </div>
                </div>
            </h1>
        </header>
		  <div class='container'>
		    <div class='row'>
		      <div class='col col-lg-8 offset-lg-2'>
        {{ content }}
	        </div>
        </div>
      </div>
    </main>

    {% include footer.html %}
